
:root {
    --dark-color: #19283f;
    --green-color: #33d1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}

.btn-main, .btn-main:hover {
    background-color: var(--red-color);
    color: var(--yellow-color);
}


body {
    font-family: 'Cairo', sans-serif;
    font-family: 'Lateef', cursive;
    font-family: 'Roboto', sans-serif;
    height: 400vh;
}
::-webkit-scrollbar {
    width: 0;
}


/* Navbar */
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link.active, 
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link:focus {
    color: var(--green-color) !important;
}
.navbar .search {
    border-left: 1px solid var(--green-color);
}
.navbar .search svg {
    color: var(--green-color);

}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0; 
    box-shadow: none;
}


/* Landing */

.landing {
    background-color: var(--dark-color);
    min-height: calc((100vh -72px)/2);
}

.landing h1,p {
    font-weight: 300;
}

/* Features */

.fa-brain{
    color: var(--yellow-color);
}


.main-title::after {
    content: "";
    background-color: var(--green-color);
    width: 120px;
    height: 2px;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.features .icons-holder {
    height: 150px;
}

.features .icons-holder svg {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.features .icons-holder .number {
    font-size: 9rem;
    color: var(--section-color);
}

.features .icons-holder .icon {
    color: var(--green-color);
}

.features h3 {
    color: var(--yellow-color);
}

/* works */

.works {
    background-color:var(--section-color);
}

.works li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.works li:not(.active):hover {
    color: var(--red-color);
}
.works li.active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}

.works .box {
    overflow: hidden;
}

.works .box::before {
    content: attr(data-work);
    position:absolute;
    background-color: #33d1cca6;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.works .box:hover::before {
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
}


/* Stuff */

.description {
    max-width: 500px;
}

/* team */
.team {
    background-color: var(--section-color);
}
.team h4 {
    background-color: var(--green-color);
    color: white;
}



/* Project */

.projects {
    background-color: var(--dark-color);
}



/* Blog */

.blogs .nothing {
    background-color: var(--section-color);
    min-height: 200px;
}


/* Subscribe */

.subscribe {
    background-color:var(--yellow-color);
}

.subscribe p {
    color: var(--dark-color);
}

.subscribe input[type=text] {
    background-color: transparent;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 1px solid white;
}

.subscribe input[type=text]::placeholder {
    color: var(--dark-color);
}

.subscribe input[type=submit] {
    background-color:var(--dark-color);
    color: var(--yellow-color);
}

/* Footer */

.footer {
    background-color: var(--dark-color);
}
.footer .copytright{
    color: var(--yellow-color);
}